<h2>Cosas:</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item item"
  >
    Home
  </li>
  <li routerLink="flores" routerLinkActive="active" class="list-group-item item">
    Flores
  </li>
  <li routerLink="paises" routerLinkActive="active" class="list-group-item item">
    Paises
  </li>
  <li routerLink="comidas" routerLinkActive="active" class="list-group-item item">
    Comidas
  </li>
</ul>
